<div id="grid-container" fxLayout="column" fxLayoutAlign="center center">
  <h1>Tic Tac Toe</h1>
  <h2>Player 1</h2>
  <mat-grid-list [cols]="3" rowHeight="fit">
    <mat-grid-tile>
      <button (click)="onClick()">{{button1}}</button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button (click)="onClick()">{{button2}}</button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button (click)="onClick()">{{button3}}</button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button (click)="onClick()">{{button4}}</button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button (click)="onClick()">{{button5}}</button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button (click)="onClick()">{{button6}}</button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button (click)="onClick()">{{button7}}</button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button (click)="onClick()">{{button8}}</button>
    </mat-grid-tile>

    <mat-grid-tile>
      <button (click)="onClick()">{{button9}}</button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
