#grid-container {
    height: 80%;
}

mat-grid-list {
    height: 500px;
    width: 500px;;
}

mat-grid-tile {
    background: lightslategray;
}

.playButton {
    font-size: large;
    height: 100%;
    width: 100%;
    background: none;
    border: none;
}

#resetButton {
    margin: 5px;
}

#X {
    background: lightblue;
}

#O {
    background: lightcoral;
}
